<div class="main-div">

    <div class="left-div">
        <div class="text-div">
          <h1>A Better Way to talk with your customers</h1>
          <h2>Manage all your customer conversations in one powerful platform that feels just like your inbox</h2>
        </div>
      
        <div class="button-div">
          <button class="btn-white">Try for Free</button>
          <button class="btn-blue">Get a Demo</button>
        </div>
      </div>

    <div class="right-div">
        <img class="first-image" src="6119560.png" alt="image-1" style="width: 200px; height: 200px;">
        <img class="second-image" src="6119655.png" alt="imgae-2" style="width: 200px; height: 200px;">
        <img class="third-image" src="6119852.png" alt="image-3" style="width: 200px; height: 200px;">
    </div>

</div>