<div class="div">
    <div class="left-header">
        <h1 style="color:rgb(27, 27, 228);"><img src="helpscout.png" alt="favicon">Help Scout</h1>

        <div class="dropdown-menu">
            <a href="#" class="dropdown">Features
                <i class="fa-solid fa-caret-down"></i>
                <div class="dropdown-content">
                    <div class="dropdown-content-column">
                        <h3>Customer Support</h3>
                        <ul>
                            <li><a href="#">Shared Inbox</a></li>
                            <li><a href="#">Customer Management</a></li>
                            <li><a href="#">Workflow Builder</a></li>
                            <li><a href="#">Reporting</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-content-column">
                        <h3>Collaboration</h3>
                        <ul>
                            <li><a href="#">Team Inbox</a></li>
                            <li><a href="#">Internal Notes</a></li>
                            <li><a href="#">Docs</a></li>
                            <li><a href="#">Assignments</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-content-column">
                        <h3>Communication</h3>
                        <ul>
                            <li><a href="#">Email</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Self-Service</a></li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="#" class="dropdown">Product Tour
                <i class="fa-solid fa-caret-down"></i>
                <div class="dropdown-content">
                    <div class="dropdown-content-column">
                        <h3>Overview</h3>
                        <ul>
                            <li><a href="#">Product Walkthrough</a></li>
                            <li><a href="#">Key Features</a></li>
                            <li><a href="#">Use Cases</a></li>
                            <li><a href="#">Integrations</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-content-column">
                        <h3>Solutions</h3>
                        <ul>
                            <li><a href="#">Small Business</a></li>
                            <li><a href="#">Enterprise</a></li>
                            <li><a href="#">E-commerce</a></li>
                            <li><a href="#">SaaS</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-content-column">
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="#">Demos</a></li>
                            <li><a href="#">Case Studies</a></li>
                            <li><a href="#">Webinars</a></li>
                            <li><a href="#">Customer Stories</a></li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="#" class="dropdown">Resources
                <i class="fa-solid fa-caret-down"></i>
                <div class="dropdown-content">
                    <div class="dropdown-content-column">
                        <h3>Learning</h3>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Training</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-content-column">
                        <h3>Community</h3>
                        <ul>
                            <li><a href="#">Forums</a></li>
                            <li><a href="#">User Groups</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Workshops</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-content-column">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Contact Support</a></li>
                            <li><a href="#">Status Page</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">API Documentation</a></li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="#">Blog</a>
            <a href="#">Pricing</a>
        </div>
    </div>
    
    <div class="right-header">
        <button>Login</button>
        <button>Free Trial</button>
    </div>
</div>