# Treat all source code files as TypeScript
*.ts linguist-language=TypeScript
*.html linguist-language=TypeScript
*.css linguist-language=TypeScript
*.scss linguist-language=TypeScript

# Still exclude non-code stuff
*.md linguist-documentation
*.json linguist-generated
dist/** linguist-generated
out/** linguist-generated
node_modules/** linguist-vendored
docs/** linguist-documentation
