.main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

img {
    height: 400px;
    width: 800px;
}

marquee>img {
    height: 100px;
    width: 100px;
    padding: 50px;
}

