<div class="main">
    <div>
    <h1>100+ Powerful Integrations</h1>
    <p>Help Scout sliders right in with your favourite tools, so you can keep working your way.</p>
    </div>
    <div>
        <img src="image.png" alt="image">
    </div>
</div>

<marquee direction="left" scrollAmount="8" behavior="scroll">
    <img src="google.png" alt="google">
    <img src="github.png" alt="github">
    <img src="instagram.png" alt="insta">
    <img src="threads.png" alt="threads">
    <img src="facebook.png" alt="facebook">
    <img src="twitter.png" alt="twitter">
    <img src="youtube.png" alt="youtube">
</marquee>