

.main-div {
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.card {
    width: 320px;
    height: 350px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;    padding: 50px;
    border-radius: 8px;
    max-height: 300px;
    overflow: hidden;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%; 
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}