<div class="main-div">
    <div class="card">

        <div class="card-1">
        <div>
            <img src="card-1.png" alt="card-1">
        </div>

        
        <div>
            <h2>Unlimited seats</h2>
            <p>Connect everyone and every team to the voice of the customer.</p>
        </div>

        </div>

    </div>

    <div class="card">

        <div class="card-2">
        <div>
            <img src="card-2.png" alt="card-2">
        </div>

        <div>
            <h2>Zero dead ends</h2>
            <p>Human help should always be easy to find. No endless loops, no deflection.</p>
        </div>
        </div>
    </div>

    <div class="card">
        <div class="card-3">
        <div>
            <img src="card-3.png" alt="card-3" >
        </div>

        <div>
            <h2>AI at no extra cost</h2>
            <p>Your whole team can save time with AI, even o nthe Free plan.</p>
        </div>
    </div>
    </div>